.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #00f068;
  color: #090a09;
  padding: 10px 20px;
  border-radius: 12px;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}
