.toast {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: rgba(0, 240, 104, 0.1);
  color: #00f068;
  font-weight: bold;
  font-size: 1.2rem; // ✅ más grande
  padding: 20px 30px;
  border-radius: 16px;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
