:root {
  --font-color: #fbfdfb;
  --font-on-color: #e2e2e2;
  --background: #090a09;
  --background-secondary: #0e0e0e;
  --background-terciary: #2b2d2b;
  --font-family: 'Satoshi', sans-serif;
  --primary-color: rgb(0, 240, 104);
}